<div #expandWrapper class='expand-wrapper' [class.collapsed]="!expanded">

   <form>
    <ion-item>
      <ion-label floating>Nome do Programa</ion-label>
      <ion-select name="nome" [(ngModel)]="_provider._filter.nom_programa">
        <ion-option *ngFor="let item of _provider._viewSelects['nom_programa']" [value]="item">{{ item }}</ion-option>
      </ion-select>
    </ion-item>


  <!--  <div class="autocomplete">
      <ion-item>
        <ion-label floating>Município</ion-label>
        <ion-input name="municipio" [(ngModel)]="provider._filter.municipio" (input)="search()" (ionFocus)="toggleFocus()" debounce=500>
        </ion-input>
      </ion-item>

      <ion-list *ngIf="focus">
        <ion-item *ngFor="let res of listaFlutuanteMunicipio" (click)="seleciona(res)">
          {{res}}
        </ion-item>
      </ion-list>
    </div>

    <ion-item>
      <ion-label floating>Ano</ion-label>
      <ion-select name="ano" [(ngModel)]="provider._filter.ano">
        <ion-option *ngFor="let item of provider.viewSelects['ano']" [value]="item">{{ item }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-buttons end>
      <button ion-button color="dark" (click)="limpar()">Limpar</button>
      <button ion-button color="dark" (click)="buscar()">Buscar</button>
    </ion-buttons>
   -->
  </form>
</div>